body, html {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

hr {
  border: none;
  height: 1px;
  background-color: #686868;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  position: relative;
}

.sidebar {
  position: absolute;
  background-color: #33363B;
  color: #EFEFEF;
  border-left: solid 1px #18191D;
  width: 245px;
  height: 100%;
  z-index: 1;
}

.sidebar header {
  opacity: 0.7;
  height: 45px;
  padding-left: 15px;
  line-height: 45px;
  font-weight: 500;
  font-size: 1.6rem;
}

.canvas-wrapper {
  position: absolute;
  right: 0;
}

#piano-roll-canvas {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.channel-list {
  padding: 5px 15px;
}

.channel {
  position: relative;
  height: 40px;
  cursor: pointer;
}

.channel:hover {
  background-color: #464A51;
}

.channel .channel-icon {
  position: absolute;
  top: 4px;
  left: 0;
  bottom: 4px;
}

.channel .channel-icon img {
  width: 32px;
  height: 32px;
}

.channel .channel-name {
  position: absolute;
  left: 40px;
  line-height: 40px;
  max-width: 137px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.channel .channel-toggle {
  height: 40px;
  position: absolute;
  top: 4px;
  right: 0;
  bottom: 4px;
}

.channel .channel-toggle img {
  height: 32px;
}

.sidebar .controls {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 85px;
  text-align: center;
}

.sidebar .controls .tempo-controls {
  margin: 5px 0;
}

.image-button {
  cursor: pointer;
}

.sidebar .controls img {
  width: 50px;
  height: 50px;
}

.sidebar .controls .image-button:hover {
  background-color: #464A51;
}

/* Preload toggle image */
#preload-01 {
  background: url(../img/flip_switch_off.png) no-repeat -9999px -9999px;
}
